*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
}

ul {
  padding-left: 0;
  margin: 0;
}

.list {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

a {
  text-decoration: none;
}

button {
  border: none;
}

.title {
  font-family: Martel;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.2;
  color: #252B42;
}

body {
  font-family: Open Sans;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  color: #737373;
}

.container {
  max-width: 1470px;
  width: 414px;
  padding: 0 42px 0 42px;
  margin: 0 auto;
}
@media screen and (min-width: 798px) {
  .container {
    width: 798px;
  }
}
@media screen and (min-width: 1470px) {
  .container {
    width: 1080px;
  }
}

.head {
  background-color: transparent;
  padding-top: 36px;
  padding-bottom: 98px;
}

.logo {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.3;
  color: #252B42;
  font-family: Martel;
  margin-bottom: 96px;
}

.menu_item {
  margin-bottom: 30px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.5;
  font-family: Open Sans;
  color: #737373;
}

.hero {
  width: 100%;
  background-image: url(../../images/mobail/hero-mobil-1x.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.hero_title {
  padding-top: 80px;
  text-align: center;
  margin-bottom: 40px;
}

.hero_text {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  font-family: Open Sans;
  color: #737373;
  width: 270px;
  text-align: center;
  margin: auto;
  margin-bottom: 40px;
}

.buttons_hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero_button_get {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  border-radius: 25px;
  border: 1px solid transparent;
  margin-bottom: 25px;
  width: 182px;
  padding: 10px 36px;
  background-color: #784F33;
  color: #FFFFFF;
  font-family: Open Sans;
  font-weight: 700;
  font-size: 14px;
  line-height: 2;
  text-align: center;
}
.hero_button_get:focus, .hero_button_get:hover {
  background-color: #FFFFFF;
  color: #784F33;
  border: 1px solid #784F33;
}

.hero_button_learn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  border-radius: 25px;
  border: 1px solid #784F33;
  padding-bottom: 80px;
  width: 155px;
  padding: 10px 36px;
  background-color: #FFFFFF;
  color: #784F33;
  font-family: Open Sans;
  font-weight: 700;
  font-size: 14px;
  line-height: 2;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.hero_button_learn:focus, .hero_button_learn:hover {
  background-color: #784F33;
  color: #FFFFFF;
}

.our_services {
  background-color: #FFFFFF;
  padding-top: 148px;
  padding-bottom: 114px;
}

.title_service {
  margin-bottom: 10px;
}

.texte_service {
  margin-bottom: 45px;
  width: 205px;
}

.icon_service {
  background-color: #295C7A;
  fill: black;
}

.about_as {
  background-color: #FAFAFA;
  padding-top: 100px;
  padding-bottom: 207px;
}

.title_about {
  text-align: center;
  margin-bottom: 10px;
}

.about_text {
  width: 206px;
  text-align: center;
  margin: auto;
  margin-bottom: 100px;
}

.secon_title_about {
  text-align: center;
  margin-bottom: 10px;
}

.second_text_about {
  margin-bottom: 50px;
}

.icon_about {
  fill: #D0A144;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrap_text_about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 273px;
}

.text_icon {
  font-weight: 700;
  font-size: 16;
  line-height: 1.5;
  color: #252B42;
}

.about_picture {
  width: 330px;
  margin-bottom: 72px;
}

.world_content {
  background-color: #252B42;
  padding-top: 125px;
  padding-bottom: 100px;
}

.title_content {
  color: #FFFFFF;
  margin-bottom: 15px;
}

.text_content {
  color: #FFFFFF;
  margin-bottom: 130px;
}

.content_img {
  width: 310px;
}

.conection {
  background-color: #FFFFFF;
  padding-bottom: 127px;
}

.connection_img {
  width: 330px;
}

.wrap_img_conect {
  margin-bottom: 40px;
}

.title_conect {
  width: 267px;
  margin-bottom: 40px;
}

.input_conect {
  border: none;
  border: 1px solid #BDBDBD;
  background-color: #F9F9F9;
  border-radius: 5px;
  width: 100%;
  height: 50px;
  padding: 5px;
}

.input_wrap {
  margin-bottom: 12px;
}
.input_wrap:last-of-type {
  margin-bottom: 40px;
}

.label_wrap {
  font-weight: 700;
  font-size: 14;
  line-height: 1.7;
  color: #252B42;
  margin-bottom: 10px;
}

.button_conect {
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 5px;
  width: 100%;
  padding: 15px 89px;
  background-color: #784F33;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 14px;
  line-height: 2;
}
.button_conect:hover, .button_conect:focus {
  background-color: transparent;
  border: 1px solid #784F33;
  color: #784F33;
}/*# sourceMappingURL=main.css.map */