*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
}

ul {
  padding-left: 0;
  margin: 0;
}

.list {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

a {
  text-decoration: none;
}

button {
  border: none;
}

.title {
  font-family: Martel;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.2;
  color: #252B42;
}

body {
  font-family: Open Sans;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  color: #737373;
}

.container {
  width: 100%;
  max-width: 1470px;
  width: 414px;
  padding: 0 42px 0 42px;
  margin: 0 auto;
}
@media screen and (min-width: 1050px) {
  .container {
    width: 1050px;
  }
}

.head {
  background-color: transparent;
  padding-top: 36px;
  padding-bottom: 98px;
}
@media screen and (min-width: 1050px) {
  .head {
    padding-top: 23px;
    padding-bottom: 23px;
  }
}

@media screen and (min-width: 1050px) {
  .container_head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

.logo {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.3;
  color: #252B42;
  font-family: Martel;
  margin-bottom: 96px;
}
@media screen and (min-width: 1050px) {
  .logo {
    margin-bottom: 0px;
    margin-right: 147px;
  }
}

.menu_item {
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.5;
  font-family: Open Sans;
  color: #737373;
}
@media screen and (min-width: 1050px) {
  .menu_item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.7;
    margin-bottom: 0px;
    margin-right: 24px;
  }
  .menu_item:last-of-type {
    margin-right: 0px;
  }
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 1050px) {
  .menu {
    width: 1050px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.hero {
  width: 100%;
  background-image: url(../../images/mobail/hero-mobil-1x.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (min-width: 1050px) {
  .hero {
    background-image: url(../../images/desktop/cover-2x.jpg);
    height: 770px;
    padding-top: 125px;
    padding-bottom: 190px;
    padding-left: 195px;
    margin-top: -77px;
  }
}

@media screen and (min-width: 1050px) {
  .wrap_hero {
    width: 509px;
  }
}

.hero_title {
  padding-top: 80px;
  font-family: " Martel";
  text-align: center;
  margin-bottom: 40px;
}
@media screen and (min-width: 1050px) {
  .hero_title {
    font-family: " Martel";
    font-weight: 900;
    font-size: 58px;
    line-height: 1.1;
    width: 509px;
    text-align: left;
    margin-bottom: 35px;
  }
}

.hero_text {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  font-family: " Montserrat";
  color: #737373;
  width: 270px;
  text-align: center;
  margin: auto;
  margin-bottom: 40px;
}
@media screen and (min-width: 1050px) {
  .hero_text {
    width: 376px;
    text-align: left;
    margin-left: 0;
    margin-bottom: 35px;
  }
}

.buttons_hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 1050px) {
  .buttons_hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

.hero_button_get {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  border-radius: 25px;
  border: 1px solid transparent;
  margin-bottom: 25px;
  width: 182px;
  padding: 10px 36px;
  background-color: #784F33;
  color: #FFFFFF;
  font-family: Open Sans;
  font-weight: 700;
  font-size: 14px;
  line-height: 2;
  text-align: center;
}
.hero_button_get:focus, .hero_button_get:hover {
  background-color: #FFFFFF;
  color: #784F33;
  border: 1px solid #784F33;
}
@media screen and (min-width: 1050px) {
  .hero_button_get {
    margin-right: 10px;
  }
}

.hero_button_learn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  border-radius: 25px;
  border: 1px solid #784F33;
  width: 155px;
  padding: 10px 36px;
  background-color: #FFFFFF;
  color: #784F33;
  font-family: Open Sans;
  font-weight: 700;
  font-size: 14px;
  line-height: 2;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.hero_button_learn:focus, .hero_button_learn:hover {
  background-color: #784F33;
  color: #FFFFFF;
}
.our_services {
  background-color: #FFFFFF;
  padding-top: 148px;
  padding-bottom: 114px;
}
@media screen and (min-width: 1050px) {
  .our_services {
    display: none;
  }
}

.title_service {
  margin-bottom: 10px;
}

.texte_service {
  margin-bottom: 45px;
  width: 205px;
}

.border_card {
  border: 1px rgba(0, 0, 0, 0.25);
  padding: 20px;
  width: 100%;
  margin-bottom: 30px;
  background-color: #FAFAFA;
  -webkit-box-shadow: 0px 5px 10px 4px rgba(34, 60, 80, 0.2);
          box-shadow: 0px 5px 10px 4px rgba(34, 60, 80, 0.2);
}
.border_card:last-of-type {
  margin-bottom: 50px;
}

.wrapper_service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icon_service {
  border-radius: 50%;
  border: 1px solid transparent;
  padding: 20px;
  background-color: #295C7A;
  fill: #FFFFFF;
  margin-right: 15px;
}

.button_servises {
  cursor: pointer;
  border-radius: 25px;
  border: 1px solid transparent;
  margin-bottom: 30px;
  width: 182px;
  padding: 10px 36px;
  background-color: #295C7A;
  color: #FFFFFF;
  font-family: Open Sans;
  font-weight: 700;
  font-size: 14px;
  line-height: 2;
  text-align: center;
}
.button_servises:focus, .button_servises:hover {
  background-color: #FFFFFF;
  color: #295C7A;
  border: 1px solid #295C7A;
}

.second_button_servises {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  border-radius: 25px;
  border: 1px solid #295C7A;
  width: 155px;
  padding: 10px 36px;
  background-color: #FFFFFF;
  color: #295C7A;
  font-family: Open Sans;
  font-weight: 700;
  font-size: 14px;
  line-height: 2;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.second_button_servises:focus, .second_button_servises:hover {
  background-color: #295C7A;
  color: #FFFFFF;
}

.about_as {
  background-color: #FAFAFA;
  padding-top: 100px;
  padding-bottom: 207px;
}
@media screen and (min-width: 1050px) {
  .about_as {
    padding-bottom: 100px;
  }
}

.title_about {
  text-align: center;
  margin-bottom: 10px;
}
@media screen and (min-width: 1050px) {
  .title_about {
    margin-bottom: 15px;
  }
}

.about_text {
  width: 206px;
  text-align: center;
  margin: auto;
  margin-bottom: 100px;
}
@media screen and (min-width: 1050px) {
  .about_text {
    width: 468px;
  }
}

@media screen and (min-width: 1050px) {
  .img_wrap_about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.text_wrap_about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 325px;
}
@media screen and (min-width: 1050px) {
  .text_wrap_about {
    margin-left: 120px;
  }
}

.secon_title_about {
  text-align: center;
  margin-bottom: 10px;
}

.second_text_about {
  margin-bottom: 50px;
}

.icon_about {
  fill: #D0A144;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.list_about {
  margin-bottom: 30px;
}

.wrap_svg_about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.text_icon {
  font-weight: 700;
  font-size: 16;
  line-height: 1.5;
  color: #252B42;
  margin-bottom: 5px;
}

.text_icon_second {
  margin-left: 50px;
}

.about_picture {
  width: 330px;
  margin-bottom: 72px;
}

.icon_about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 20px;
}

.wrap_text_about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.clients_say {
  background-color: #295C7A;
  padding-top: 69px;
  padding-bottom: 164px;
}

.title_clients {
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 10px;
}

.text_clients {
  text-align: center;
  margin-bottom: 60px;
  color: #FFFFFF;
}

.cards_client {
  border: 1px solid transparent;
  background-color: #FFFFFF;
  padding: 30px 82px;
  margin-bottom: 30px;
  position: relative;
}

.name_clients {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.3;
  color: #252B42;
  margin-bottom: 5px;
}

.name_job {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.7;
  margin-bottom: 16px;
}

.wrap_stars {
  margin-bottom: 15px;
}

.icon-star {
  fill: #F3CD03;
}

.client_img {
  position: absolute;
  background-color: transparent;
  top: 28px;
  left: -25px;
  border-radius: 50%;
}

.our_lawyer {
  background-color: #FAFAFA;
  padding-top: 75px;
  padding-bottom: 63px;
}

.title_lawyer {
  text-align: center;
  margin-bottom: 10px;
}

.text_lawyer {
  margin: auto;
  text-align: center;
  width: 238px;
  margin-bottom: 45px;
}

.lowyer_item {
  border: 1px solid transparent;
  padding: 30px 95px;
  margin-bottom: 30px;
}

.lowyer_img {
  border: 50%;
  margin-bottom: 5px;
  margin: auto;
}

.lowyer_job {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.7;
  color: #D0A144;
  text-align: center;
  margin-bottom: 5px;
}

.lowyer_name {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  color: #252B42;
  text-align: center;
  margin-bottom: 5px;
}

.lowyer_text_abov {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  width: 136px;
  margin: auto;
}

.world_content {
  background-color: #252B42;
  padding-top: 125px;
  padding-bottom: 100px;
}

.title_content {
  color: #FFFFFF;
  margin-bottom: 15px;
}

.text_content {
  color: #FFFFFF;
  margin-bottom: 130px;
}

.content_img {
  width: 310px;
}

.conection {
  background-color: #FFFFFF;
  padding-bottom: 127px;
}

.connection_img {
  width: 330px;
}

.wrap_img_conect {
  margin-bottom: 40px;
}

.title_conect {
  width: 267px;
  margin-bottom: 40px;
}

.input_conect {
  border: none;
  border: 1px solid #BDBDBD;
  background-color: #F9F9F9;
  border-radius: 5px;
  width: 100%;
  height: 50px;
  padding: 5px;
}

.input_wrap {
  margin-bottom: 12px;
}
.input_wrap:last-of-type {
  margin-bottom: 40px;
}

.label_wrap {
  font-weight: 700;
  font-size: 14;
  line-height: 1.7;
  color: #252B42;
  margin-bottom: 10px;
}

.button_conect {
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 5px;
  width: 100%;
  padding: 15px 89px;
  background-color: #784F33;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 14px;
  line-height: 2;
}
.button_conect:hover, .button_conect:focus {
  background-color: transparent;
  border: 1px solid #784F33;
  color: #784F33;
}

.section_footer {
  padding-top: 80px;
  padding-bottom: 57px;
  background-color: #FAFAFA;
}

.title_footer {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.3;
  color: #252B42;
  margin-bottom: 20px;
}
.title_footer:first-of-type {
  margin-bottom: 25px;
}

.text_footer {
  width: 195px;
  margin-bottom: 25px;
}

.text_list {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.7;
  margin-bottom: 10px;
}
.text_list:last-of-type {
  margin-bottom: 0px;
}

.list_box {
  margin-bottom: 30px;
}

.wrap_icon_footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.icon_footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 20px;
}
.icon_footer:last-of-type {
  margin-right: 0px;
}/*# sourceMappingURL=main.css.map */