.about_as {
    background-color:$second-background ;
     padding-top: 100px;
     padding-bottom: 207px;
    @media screen and (min-width:1050px){
        padding-bottom: 100px;
    }
     
}

.title_about{
    text-align: center;
    margin-bottom: 10px;
    @media screen and (min-width:1050px){
        margin-bottom: 15px;
    }
}
.about_text{
    width: 206px;
    text-align: center;
    margin: auto;
    margin-bottom: 100px;
    @media screen and (min-width:1050px){
        width: 468px;
    }
}
.img_wrap_about{
    @media screen and (min-width:1050px){
        display: flex;
    }
}
.text_wrap_about{
    display: flex;
    flex-direction: column;
    width: 325px;
    @media screen and (min-width:1050px){
        margin-left: 120px;
    }
    
}
 .secon_title_about{
text-align: center;
margin-bottom: 10px;
}
.second_text_about{
    margin-bottom: 50px;
}

.icon_about{
    fill:$svg-fill;
    display: flex;
}


.list_about{
    margin-bottom: 30px;
}
.wrap_svg_about{
    display: flex;
    align-items: center;
}
.text_icon{
    @include font(700, 16, 1.5);
    color:$text-color;
    margin-bottom: 5px;
   
}
.text_icon_second{
    margin-left: 50px;
}
.about_picture{
    width: 330px;
    margin-bottom: 72px;
    
}

.icon_about{
    display: flex;
    align-items: center;
    margin-right:20px ;
}
.wrap_text_about{
    display: flex;
    flex-direction: column ;
    
}
