.clients_say{
    background-color:$blue-button ;
    padding-top: 69px;
    padding-bottom: 164px;
}
.title_clients{
    color:$white-text-color;
    text-align: center;
    margin-bottom: 10px;
}
.text_clients{
    text-align: center;
    margin-bottom: 60px;
    color:$white-text-color ;
}