.conection{
    background-color:$white-background ;
    padding-bottom: 142px;
}
.connection_img {
    width: 330px;
    
}
.wrap_img_conect {
    margin-bottom: 40px;
}

.title_conect {
    width: 327px;
    margin-bottom: 40px;
}