.our_services{
    background-color:$white-text-color;
    padding-top: 148px;
        padding-bottom: 114px;
}

.title_service{
    margin-bottom: 10px;
}
.texte_service {
    
   margin-bottom: 45px;
   width: 205px;
   
}
.icon_service{
    //  border-radius: 50%;
    //  border: 1px solid transparent;
    // padding: 25px;
    background-color: $light-blue-background;
    fill:black;
}