.our_services{
    background-color:$white-text-color;
    padding-top: 148px;
        padding-bottom: 114px;
}

.title_service{
    margin-bottom: 10px;
}
.texte_service {
    
   margin-bottom: 45px;
   width: 205px;
   
}
