.container {
    width: 100%;
    max-width: 1470px;
    width: 414px;
    padding: 0 42px 0 42px;
    margin: 0 auto;

    @media screen and (min-width:1050px) {
        width: 1050px;
        
    }
}