.container {
    width: 100%;
    padding: 0 15px 0 15px;
    margin:  auto;

    @media screen and (min-width: 414px) {
            width: 360px;
        }
    @media screen and (min-width:1470px) {
        width: 1080px;
        
    }
}





    