// color-text
$text-color: #252B42;
$light-text-color: #737373;
$second-text-color: #D9D9D9;
$brown-accent-color: #784F33;
$white-text-color: #FFFFFF;
$primery-accent-color: #D0A144;

// backgroun-color
$main-color: #F6F6F6;
$light-blue-background: #295C7A;
$white-background: #FFFFFF;
$dark-blue-background: #252B42;
$second-background: #FAFAFA;
$light-background: #F9F9F9;

// input-button 
$backgrount-input: #BDBDBD;
$button-broun-color: #784F33;
$svg-fill: #D0A144;
$stars-svg: #F3CD03;



// font-family: 'Martel',
// serif;
// font-family: 'Montserrat',
// sans-serif;
// font-family: 'Open Sans',
// sans-serif;
// font-family: 'Roboto',
// sans-serif;
// font-family: 'Trade Winds',
// cursive;
// font-family: 'Ubuntu',
// sans-serif;