// colors-text
$second-text-color:#737373;
$text-color: #252B42;
$secondary-color-2:#784F33;
$light-text-color:#FFFFFF;
$accent-text-color:#D0A144;

// colors style
$accent-brown-color:#784F33;
$accent-blue-color:#295C7A;
$accent-color-svg:#D0A144;
$accent-color-yelow:#F3CD03;

// background color
$laight-background-color:#FFFFFF;
$secondary-background-color:#295C7A;
$dark-background-color:#252B42;
$background-imput:#BDBDBD;

//   buttons color
$button-blu-color:#295C7A;
$button-brown-color:#784F33;

// font-family: 'Martel',
// serif;
// font-family: 'Montserrat',
// sans-serif;
// font-family: 'Open Sans',
// sans-serif;
// font-family: 'Roboto',
// sans-serif;
// font-family: 'Trade Winds',
// cursive;
// font-family: 'Ubuntu',
// sans-serif;